@{
    ViewBag.Title = "Instagram Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Instagram.Classes.AccountImagesModel

<div class="emptyDiv">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="feeds">
                @foreach (var img in Model.Images)
                {
                    <div class="feed">
                        <div class="feed-header">
                            <a class="feed-author-img"><img src="data:image;base64,@Convert.ToBase64String(Model.Account.avatar)" /></a>
                            <a class="feed-author-name" href="http://blog.stackpie.com">@Model.Account.username</a>
                            <a class="feed-time">@img.created_at.Date.ToShortDateString()</a>
                        </div>
                        <div class="feed-image">
                            <img src="data:image;base64,@Convert.ToBase64String(img.image)" />
                        </div>
                        <div class="feed-body">@img.description</div>
                        <div class="feed-footer">
                            <i class="fa fa-heart-o nx"></i>
                            <input type="text" class="ny" placeholder="Add a comment..." />
                            <i class="fa fa-sort-down nz"></i>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

